.wrap {
  margin:0 15%;
  width:20%;
}
.child {
    padding: 10px;
    float: left;
    width: 42%;
    margin-left: 2%;
    margin-bottom: 5%;
}

li {
 list-style: none;
 text-indent: -1em;
}
li::before {
 content: '\25ba';
 padding-right: 2px;
 color: black;
}

.underLine {text-decoration: underline;
color: blue;
}

.photo::before {
  content: '\2606';
  padding-right: 3px;
}

.closed {
  display: none;
}

.modal-backdrop {
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 500px;
  padding: 5px;
  position: relative;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animatetop;
  margin: auto;
  background-color: #fff;
}

.modal-content img  {
  width: inherit;
}
