body {
  background-color: #E9F5D5;
}
.wrap {
  margin:0 15%;
  width:20%;
}
.child {
  text-align:center;
  padding: 10px;
  float: left;
  width: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-decoration: underline;
  color: blue;
  list-style-type: none;
}
.photo {
  list-style-type: none;
}
.photo::before {
  content: '\2606';
  padding-right: 3px;
}
.closed {
  display: none;
}
.modal-backdrop {
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  width: 500px;
  padding: 5px;
  position: relative;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animatetop;
  margin: auto;
  background-color: #fff;
}
.modal-content img  {
  width: inherit;
}
.photo {
  cursor: pointer;
}
.photo:hover:before,
.photo.fav:before {
  content: ' \2605';
  color: rgb(255, 203, 0);
}
.photo.fav:hover:before {
  content: ' \2606';
}